body {
	--bg: #111720;
	--bg-secondary: #0f141b;
	--bg-scroll: #050a13;
	--bg-header: #1b212b;
	--bg-search: #252d3a;
	--bg-messages-container: #1c232e;
	--sent: #038f509c;
	--received: #1313138e;
	--color: #f1f1f1;
	--color-lighten: #9e9e9e;
	--arrow-color: #bdbdbd;

	--skeleton: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0,
		rgba(43, 43, 43, 0.2) 20%,
		rgba(41, 41, 41, 0.5) 60%,
		rgba(255, 255, 255, 0)
	);
	--skeleton-green: linear-gradient(
		90deg,
		rgba(2, 134, 42, 0) 0,
		rgba(4, 177, 105, 0.4) 20%,
		rgba(4, 182, 99, 0.8) 60%,
		rgba(2, 133, 41, 0)
	);
}
body[data-dark="false"] {
	--bg: #ffffff;
	--bg-secondary: #e6e6e6;
	--bg-scroll: #9c9c9c;
	--bg-header: #e7e7e7;
	--bg-search: #d4d4d4;
	--bg-messages-container: #ffffff;
	--sent: #02693b;
	--color-lighten: #2e2e2e;
	--received: #c0c0c0;
	--color: #141414;
	--arrow-color: #141414;
	--skeleton: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0,
		rgba(255, 255, 255, 0.2) 20%,
		rgba(255, 255, 255, 0.5) 60%,
		rgba(255, 255, 255, 0)
	);
	--skeleton-green: linear-gradient(
		90deg,
		rgba(2, 134, 42, 0) 0,
		rgba(7, 197, 118, 0.4) 20%,
		rgba(6, 194, 106, 0.8) 60%,
		rgba(2, 133, 41, 0)
	);
}
